@page "/employees"
@using blazor_wasm_sql_db.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Employees</h3>
<button @onclick="AddEmployee" class="btn btn-primary">Add Employee</button>

@if (employees is null)
{
    <span>Loading Employees...</span>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Joining Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td width="5%">@employee.Id</td>
                    <td width="5%">@employee.Code</td>
                    <td width="10%">@employee.FullName</td>
                    <td width="10%">@employee.Address</td>
                    <td width="5%">@employee.JoiningDate</td>
                </tr>
                <button @onclick="(() => EditEmployee(employee.Id))" class="btn btn-primary">Edit</button>
            }
        </tbody>
    </table>    
}

@code {
    List<Employee>? employees;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Employee>>("/api/employee");
        if (result != null)
        {
            employees = result;    
        }
    }

    public void AddEmployee()
    {
        NavigationManager.NavigateTo("/employee");
    }

    public void EditEmployee(int id)
    {
        NavigationManager.NavigateTo($"/employee/{id}");
    }
}
